Source/.vs/
_appdata_/
_appdata_cs_/
/Bin/
Intermediate/
/Lib/
import/
rawdata/
logs/
temp/
/*.ini
*.vcxproj.user
*.dll
*.cmd
*.object
*.~part
*.part
*.level
*.7z
_appdata_/
appdata/
compilers_x64/
converter/
export_textures/
export_surfaces/
gamedata/
import/
import_spawns/
gamedata/shaders/
ccc__temp__vertices
T-6638.7z
actor.ini
engine.log
Source/BearBundle
bin/
xrAI/
import2/